body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FA;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #003366; /* Azul oscuro */
    color: white; /* Color del texto */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad del texto */
}

.header-container {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0); /* Fondo transparente */
    padding: 10px; /* Espacio alrededor del logo y texto */
    background-color: #003366; /* Fondo azul oscuro */
}

.header-logo {
    height: 32px; /* Ajusta el tamaño según sea necesario */
    width: auto; /* Mantiene las proporciones de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.header-title, .header-subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Letras blancas */
}

nav {
    position: absolute;
    font-weight: bold;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
}

nav a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    padding: 10px 20px; /* Espaciado dentro de los botones */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Suaviza la transición de color */
}

nav a:hover {
    background-color: orange; /* Naranja coral */
    color: #003366; /* Azul oscuro del fondo */
}

main {
    flex: 1;
    padding: 40px;
    padding-bottom: calc(60px + 10px);
    text-align: center;
    background-color: #F8F4F1; /* Beige suave */
}

section {
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

section.visible {
    opacity: 1;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #222;
}

section p {
    font-size: 1.1em;
    margin: 0 0 20px;
    line-height: 1.8;
}

footer {
    position: relative;
    padding: 20px;
    background-color: #333; /* Color del fondo del footer */
    color: white; /* Color del texto del footer */
    text-align: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icons span {
    display: block;
    margin-bottom: 10px;
    font-size: 1.0em;
    color: #f0f0f0;
}

.social-icons a {
    color: #f0f0f0;
    margin: 0 10px;
    text-decoration: none;
    font-size: 28px;
}

.social-icons a:hover {
    opacity: 0.8;
}

.scroll-to-top {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    background-color: #333; /* Fondo del botón */
    border-radius: 50%;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.scroll-to-top:hover {
    background-color: #555; /* Fondo del botón al pasar el mouse */
}

.social-icons a:hover {
    opacity: 0.8;
}

.social-icons .fa-facebook-f {
    color: #1877F2;
}

.social-icons .fa-instagram {
    color: #C13584;
}

.contact-info {
    font-size: 1.1em;
    margin-top: 20px;
}

.contact-info i {
    margin-right: 10px;
    color: #27ae60;
}

/* Carrusel */
.carousel-inner img {
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    height: 365px; /* Ajusta la altura según tus necesidades */
}
@media (max-width: 768px) {
    .header-logo {
        max-width: 100px;
    }
    
    .header-subtitle {
        font-size: 1rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }

    .social-icons {
        font-size: 20px;
    }

    .scroll-to-top {
        display: block; /* Mostrar en móviles */
    }
}

@media (max-width: 576px) {
    .header-logo {
        max-width: 80px;
    }
    
    .header-subtitle {
        font-size: 0.9rem;
    }
    
    nav a {
        margin: 5px 0;
    }

    .social-icons a {
        font-size: 18px;
    }
}