body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FA;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #003366; /* Azul oscuro */
    color: white; /* Color del texto */
    padding: 20px;
    display: flex;
    flex-direction: row; /* Alinear en fila */
    align-items: center; /* Centrar verticalmente */
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad del texto */
}

.header-container {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Para que ocupe todo el ancho */
    justify-content: space-between; /* Espacio entre logo y navbar */
}

.header-logo {
    height: 32px; /* Ajusta el tamaño según sea necesario */
    width: auto; /* Mantiene las proporciones de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.header-title, .header-subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Letras blancas */
}

header .navbar-toggler {
    background-color: #ffffff; /* Fondo blanco para el botón de menú */
    border-color: #ffffff; /* Color del borde */
}

header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 51, 102, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Esto cambia el color de las líneas del icono de hamburguesa a azul oscuro */
}
nav {
	position: absolute;
	font-weight: bold;
    display: flex; /* Asegúrate de que sea flex */
    align-items: center; /* Centrar verticalmente los enlaces */
    margin-left: auto; /* Empujar el nav a la derecha */
}

nav a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    padding: 10px 20px; /* Espaciado dentro de los botones */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Suaviza la transición de color */
}

nav a:hover {
    background-color: orange; /* Naranja coral */
    color: #003366; /* Azul oscuro del fondo */
}

main {
    flex: 1;
    padding: 40px;
    padding-bottom: calc(60px + 10px);
    text-align: center;
    background-color: #F8F4F1; /* Beige suave */
}

section {
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

section.visible {
    opacity: 1;
}


section p {
    font-size: 1.1em;
    margin: 0 0 20px;
    line-height: 1.8;
}
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 0px; /* Coloca la flecha justo en el borde derecho */
    width: 40px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 8px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.10s ease-in;
}

#backToTop img {
    width: 100%;
    height: auto;
}

#backToTop:hover {
    opacity: 0.8;
}

footer {
    background-color: #333; /* Color del fondo del footer */
    color: white; /* Color del texto del footer */
    text-align: center;
    padding: 40px 20px; /* Espaciado alrededor del footer */
}

.footer-bottom {
    margin-top: 20px; /* Espacio entre el mapa y el texto de derechos de autor */
    font-size: 0.9em; /* Tamaño del texto */
    color: white; /* Color del texto */
    padding: 10px 0; /* Espaciado superior e inferior para centrar mejor */
	border-top: 1px solid white;
}

.footer-container {
    display: flex;
    justify-content: space-around; /* Distribuye mejor el espacio */
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.contact-info, .map-container {
    text-align: left; /* Para que el contenido interno no se centre */
}

.contact-info {
    margin-bottom: 20px; /* Ajusta la separación entre contacto y mapa */
}

.contact-info h2, .map-container h3 {
    color: #FFB74D; /* Color para los encabezados */
}

.map-container {
    flex: 2; /* El mapa ocupa más espacio */
    display: flex; /* Permite centrar el mapa */
    justify-content: center; /* Centra el contenido */
}

iframe {
    border-radius: 8px; /* Bordes redondeados para el mapa */
    max-width: 100%; /* Asegúrate de que el mapa no se desborde */
    height: 430px; /* Ajusta la altura según tus necesidades */
	width: 793px;
}

.social-icons {
    margin-top: 10px; /* Ajusta el margen superior */
    display: block; /* Cambia a bloque para colocar íconos uno debajo del otro */
}

.social-icons a {
    color: #f0f0f0;
    text-decoration: none;
	margin: 26px 0;
    font-size: 1.1em; /* Ajusta el tamaño del texto para que coincida con los íconos de contacto */
    display: flex; /* Usar flex para alinear íconos y texto */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 4px; /* Espacio entre los enlaces */
}


.contact-info p {
    margin:26px 0; /* Margen entre los párrafos */
}

.contact-info i {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    color: #27ae60; /* Color verde para los íconos */
    font-size: 1.5em; /* Ajusta el tamaño del ícono */
    vertical-align: middle; /* Asegura que el ícono esté alineado con el texto */
}

.contact-info p, .social-icons a {
    display: flex; /* Usamos flex para alinear los íconos con el texto */
    align-items: center; /* Alinea los íconos y el texto verticalmente */
    margin: 30px 0; /* Ajusta el espaciado */
}

.social-icons a i {
    font-size: 1.5em; /* Ajusta el tamaño de los íconos de redes sociales */
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.social-icons .fa-facebook-f {
    font-size: 1.6em; /* Ajusta el tamaño del ícono de Facebook */
    margin-right: 15px; /* Mantén el margen entre el ícono y el texto */
}

.social-icons .fa-facebook-f {
    color: #27ae60;
}

.social-icons .fa-instagram {
    color: #27ae60;
}

.contact-info {
    font-size: 1.1em;
    margin-top: 20px;
}

/* Carrusel */
.carousel {
    width: 100%;
    max-width: 1200px; /* Ajusta esto según el ancho máximo que quieras */
    margin: 0 auto; /* Centra el carrusel en la página */
    overflow: hidden;
}
.carousel-inner img {
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    height: 445px; /* Ajusta la altura según tus necesidades */
    transition: transform 0.5s ease; /* Suaviza la transición entre imágenes */
}

.carousel-inner {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: 250px; /* Ajusta para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .header-logo {
        max-width: 80px;
    }
    
    .header-subtitle {
        font-size: 0.9rem;
    }
    
    nav a {
        margin: 5px 0;
    }

    .social-icons a {
        font-size: 18px;
    }

    .footer-container {
        flex-direction: column; /* Cambia a columna para pantallas pequeñas */
        text-align: center; /* Centra el contenido en pantallas pequeñas */
    }

    .contact-info, .map-container {
        text-align: center; /* Alinea el texto al centro en pantallas pequeñas */
    }
}